.hljs-keyword {
  color: #66D9EF;
}

.hljs-name, .hljs-tag {
  color: #A6E22E;
}

.align-right {
  float: right;
}

img {
  border: 2px black solid;
  border-radius: 10px;
}

img[alt="React logo"] {
  height: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: -40%;
  border: none;
  border-radius: 0;
}

img[alt="Facebook logo"] {
  height: 36px;
  vertical-align: text-top;
  border: none;
  border-radius: 0;
}

img[alt="React github stars"] {
  width: 100%;
}

img[alt="React npm packages"] {
  height: 100px;
  vertical-align: middle;
}

img[alt="Virtual DOM"] {
  background-color: white;
  width: 100%;
}

img[alt="React components"] {
  height: 300px;
}

img[alt="React dev tools"] {
  height: 100%;
}
